<div class="heading">
  <div>
    <p class="descriptions">Current Projects</p>
  </div>
  <div class="buttons">
        <button class="flat" mat-flat-button><mat-icon iconPositionEnd>add</mat-icon> New entry</button>
      <button class="round" mat-fab color="#ffffff" aria-label="Example icon button with a delete icon">
        <mat-icon>notifications</mat-icon>
      </button>
      <button class="round" mat-fab color="#ffffff" aria-label="Example icon button with a delete icon">
        <mat-icon>search</mat-icon>
      </button>
  </div>
</div>